layout python3
export PYTHON_BUILD_HOMEBREW_OPENSSL_FORMULA="openssl@3"
export MISE_DIRENV_VERSION=2.32.3
export MISE_ELIXIR_VERSION=1.16.1
export MISE_ERLANG_VERSION=26.2.1
export MISE_NODE_VERSION=20.10.0
export MISE_GO_VERSION=1.21.1
export MISE_PYTHON_VERSION=3.11.3
export MISE_RUST_VERSION=1.70.0
use mise

# export BUILDKIT_HOST=tcp://:1234
#export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
#export DOCKER_HOST="unix://${HOME}/.colima/default/docker.sock"
export DYLD_LIBRARY_PATH=/opt/homebrew/lib
