export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_CTYPE=en_US.UTF-8

export CLICOLOR=1
export EDITOR="nvim"
export VISUAL=nvim
export TERM="xterm-256color"
export OPENSSL_STATIC=yes
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

export HOMEBREW_NO_AUTO_UPDATE=1 # stop brew install from update=everything
export HOMEBREW_NO_ANALYTICS=1
export SDKROOT=`xcrun --sdk macosx --show-sdk-path`
export ASDF_GOLANG_MOD_VERSION_ENABLED=false # don't read go.mod/go.work for go version (rtx)
export PIP_REQUIRE_VIRTUALENV=false

alias brew="env PATH=\"\${PATH//.asdf/shims:/}\" brew"

export GOPATH=$(asdf where golang)/packages
#export GOROOT=$(asdf where golang)/go
export PATH="${PATH}:$(go env GOPATH)/bin"

#export GEM_HOME=$HOME/.gem
export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@1.1/lib/pkgconfig"
export RUBY_CONFIGURE_OPTS="--with-openssl-dir=/opt/homebrew/opt/openssl@1.1"

#export PYTHONPATH=$PYTHONPATH:/Users/locnguyen/Library/Python/3.10/lib/python/site-packages/

export LDFLAGS="-L$(brew --prefix llvm)/lib -L$(brew --prefix xz)/lib -L$(brew --prefix readline)/lib -L$(brew --prefix zlib)/lib"
export CPPFLAGS="-I$(brew --prefix llvm)/include -I$(brew --prefix xz)/include  -I$(brew --prefix readline)/include -I$(brew --prefix zlib)/include -I$(xcrun --show-sdk-path)/usr/include"

export DYLD_LIBRARY_PATH=/opt/homebrew/opt/unicorn/lib/:$DYLD_LIBRARY_PATH
