[submodule "themes"]
  path = .config/alacritty/themes
  url = https://github.com/alacritty/alacritty-theme
[submodule ".config/sketchybar/wentsketchy"]
	path = .config/sketchybar/wentsketchy
	url = https://github.com/lucax88x/wentsketchy
[submodule ".config/tmux/oh-my-tmux"]
	path = .config/tmux/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
