otp_path: "/Users/locnguyen/.local/share/mise/installs/erlang/27.0.1/"
apps_dirs:                                                                      
  - "apps/*"                                                                    
deps_dirs:                                           
  - "_build/default/lib/*"                                                                             
# These paths are prepended to all other paths  
# given by  an -include or -include_lib directive.                                 
include_dirs:                                                                      
  - "apps"                                                                         
  - "apps/*"                                                                       
  - "apps/*/src"                                                                   
  - "_build/default/lib/"                                                          
  - "_build/default/lib/*/include"  
